<div class="my-3">
	<form id="formadmineditbooking" name="formadmineditbooking">
		<input type="text" value="{{booking.id}}" id="adminUpdateBookingId" hidden>
		<div class="row">
			<div class="col-10">
				<h3>Booking Detail</h3>
			</div>
			<div class="col-2">
				<button class="btn btn-secondary" id="formadmineditbookingcancel">Cancel</button>
				<button class="btn btn-primary">Save</button>
			</div>
		</div>
		<div>
			<table class="table table-bordered table-hover text-left">
				<tr>
					<th colspan="2" class="bg-info">Booking</th>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						<select class="form-control" name="adminUpdateBookingStatus" id="adminUpdateBookingStatus">
							<option value="0" selected>Pending</option>
							<option value="1">Rejected</option>
							<option value="2">Approved</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Remark</th>
					<td><textarea class="form-control" placeholder="Write some remarks here"
							name="adminUpdateBookingRemark" id="adminUpdateBookingRemark">{{booking.remark}}</textarea>
					</td>
				</tr>
				<tr>
					<th>Application Date</th>
					<td>{{booking.applyDate}}</td>
				</tr>
				<tr>
					<th colspan="2" class="bg-info">Student</th>
				</tr>
				<tr>
					<th>Student ID</th>
					<td>{{booking.user.uniID}}</td>
				</tr>
				<tr>
					<th>Student Name</th>
					<td>{{booking.user.name}}</td>
				</tr>
				<tr>
					<th>Email Address</th>
					<td>{{booking.user.email}}</td>
				</tr>
				<tr>
					<th>Mobile Number</th>
					<td>{{booking.user.mobileno}}</td>
				</tr>
				<tr>
					<th colspan="2" class="bg-info">Room</th>
				</tr>
				<tr>
					<th>College</th>
					<td>{{booking.room.college}}</td>
				</tr>
				<tr>
					<th>Block</th>
					<td>{{booking.room.block}}</td>
				</tr>
				<tr>
					<th>Room Number</th>
					<td>{{booking.room.roomNo}}</td>
				</tr>
				<tr>
					<th>Room Type</th>
					<td>{{booking.room.roomType}}</td>
				</tr>
				<tr>
					<th>Bed Arrangement</th>
					<td>{{booking.room.bedArrangement}}</td>
				</tr>
				<tr>
					<th>Room Status</th>
					<td>{{displayRoomStatus booking.room.roomStatus}}</td>
				</tr>
			</table>
		</div>
	</form>
</div>