<div>
    {{!-- <a class='btn btn-primary'>Add Room</a>
    <a class='btn btn-default'>Delete Room</a> --}}
    <h2>Rooms</h2>
    <table class="table text-center">
        <tr>
            <th>No. </th>
            <th>Room No</th>
            <th>Type</th>
            <th>Status</th>
            <th>Bed Arrangement</th>
            <th>Block</th>
            <th>College</th>
            <th>Last Modified Date</th>
            <th>Actions</th>
        </tr>
        {{#each rooms}}
        <tr>
            <td class="index-column"></td>
            <td>{{ roomNo }}</td>
            <td>{{ roomType }}</td>
            <td>{{ displayRoomStatus roomStatus }}</td>
            <td>{{ bedArrangement }}</td>
            <td>{{ block }}</td>
            <td>{{ college }}</td>
            <td>{{ formatDate lastModifiedDate }}</td>
            <td>
                <a href='#rooms/{{id}}' style="text-decoration: none">
                    <i class="icofont-eye-alt" aria-hidden="true"></i>
                </a>
                &nbsp;
                <a href='#rooms/edit/{{id}}' style="text-decoration: none">
                    <i class="icofont-edit" aria-hidden="true"></i>
                </a>
                &nbsp;
            </td>
        </tr>
        {{/each}}
    </table>
</div>