<div>
    <h2>Students List</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center" id="tblstudent">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Matric Number</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                {{#each studentlist}}
                <tr>
                    <td>
                        {{id}}
                    </td>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{uniID}}
                    </td>
                    <td>
                        {{email}}
                    </td>
                    <td>
                        {{mobileno}}
                    </td>
                </tr>
                {{/each}}
            <tbody>
        </table>
    </div>