<div>
    <div>
        <table class="table table-bordered table-hover text-left">
            <tr>
                <th colspan="2" class="bg-info">Room Information</th>
            </tr>
            <tr>
                <td>Room Number : </td>
                <td>{{ room.roomNo }}</td>
            </tr>
            <tr>
                <td>Room Type : </td>
                <td>{{ room.roomType }}</td>
            </tr>
            <tr>
                <td>Room Status :</td>
                <td>{{ displayRoomStatus room.roomStatus }}</td>
            </tr>
            <tr>
                <td>Bed Arrangement : </td>
                <td>{{ room.bedArrangement }}</td>
            </tr>
            <tr>
                <td>Block :</td>
                <td>{{ room.block  }}</td>
            </tr>
            <tr>
                <td>College : </td>
                <td>{{ room.college }}</td>
            </tr>
            <tr>
                <td>Last Modified Date :</td>
                <td>{{ formatDate room.lastModifiedDate }}</td>
            </tr>
        </table>
        <br><br>
        <table class="table table-bordered table-hover text-left">
            <tr>
                <th colspan="2" class="bg-info">Tenant Information</th>
            </tr>
            {{#if users.length}}
            {{#each users}}
            <tr>
                <td>Name : </td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>Email :</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Mobile No:</td>
                <td>{{ user.mobileno }}</td>
            </tr>
            <tr>
                <td>Uni ID: </td>
                <td>{{ user.uniID }}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan='2'>The room has no tenant at the moment</td>
            </tr>
            {{/if}}
        </table>
    </div>
</div>