<div>
	<h2>Bookings</h2>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab"
				aria-controls="pending" aria-selected="true">Pending</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved"
				aria-selected="false">Approved</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected"
				aria-selected="false">Rejected</a>
		</li>
	</ul>
	<div class="tab-content my-3" id="bookingTabContent">
		<div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
			{{#checkBookingsLength bookings.Pending}}
			<p class="text-center my-3">No records</p>
			{{else}}
			<table class="table table-bordered table-hover text-center">
				<thead>
					<tr>
						<th>No.</th>
						<th>College</th>
						<th>Block</th>
						<th>Room</th>
						<th>Student</th>
						<th>Application Date</th>
						<th>Update</th>
					</tr>
				</thead>
				<tbody>
					{{#each bookings.Pending}}
					<tr>
						<td class='index-column'></td>
						<td>{{room.college}}</td>
						<td>{{room.block}}</td>
						<td>{{room.roomNo}}</td>
						<td>{{user.name}}</td>
						<td>{{applyDate}}</td>
						<td>
							<a href='#admin-bookings/edit/{{id}}' style="text-decoration: none">
								<i class="icofont-edit" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{/checkBookingsLength}}
		</div>
		<div class="tab-pane fade " id="approved" role="tabpanel" aria-labelledby="approved-tab">
			{{#checkBookingsLength bookings.Approve}}
			<p class="text-center my-3">No records</p>
			{{else}}
			<table class="table table-bordered table-hover text-center">
				<thead>
					<tr>
						<th>No.</th>
						<th>College</th>
						<th>Block</th>
						<th>Room</th>
						<th>Student</th>
						<th>Application Date</th>
						<th>View</th>
					</tr>
				</thead>
				<tbody>
					{{#each bookings.Approve}}
					<tr>
						<td class='index-column'></td>
						<td>{{room.college}}</td>
						<td>{{room.block}}</td>
						<td>{{room.roomNo}}</td>
						<td>{{user.name}}</td>
						<td>{{applyDate}}</td>
						<td>
							<a href='#admin-bookings/view/{{id}}' style="text-decoration: none">
								<i class="icofont-eye-alt" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{/checkBookingsLength}}
		</div>
		<div class="tab-pane fade " id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
			{{#checkBookingsLength bookings.Reject}}
			<p class="text-center my-3">No records</p>
			{{else}}
			<table class="table table-bordered table-hover text-center">
				<thead>
					<tr>
						<th>No.</th>
						<th>College</th>
						<th>Block</th>
						<th>Room</th>
						<th>Student</th>
						<th>Application Date</th>
						<th>View</th>
					</tr>
				</thead>
				<tbody>
					{{#each bookings.Reject}}
					<tr>
						<td class='index-column'></td>
						<td>{{room.college}}</td>
						<td>{{room.block}}</td>
						<td>{{room.roomNo}}</td>
						<td>{{user.name}}</td>
						<td>{{applyDate}}</td>
						<td>
							<a href='#admin-bookings/view/{{id}}' style="text-decoration: none">
								<i class="icofont-eye-alt" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			{{/checkBookingsLength}}
		</div>
	</div>
</div>