<div>
	<h1>Booking Progress</h1>
	<canvas id="myChart2"></canvas>
	<p class="text-right"><a href="#admin-bookings">See More</a></p>
</div>

<script>
	$.ajax({
		type: "get",
		url: "api/bookings",
		contentType: "application/json",
		dataType: "json",
		success: function (data) {
			var statistics = { Pending: 0, Approve: 0, Reject: 0 };
			data.forEach((booking) => {
				switch (booking.applicationStatus) {
					case 0:
						statistics.Pending += 1;
						break;
					case 1:
						statistics.Reject += 1;
						break;
					case 2:
						statistics.Approve += 1;
						break;
				}
			});

			var ctx2 = document.getElementById('myChart2');
			var myPieChart = new Chart(ctx2, {
				type: 'pie',
				data: {
					datasets: [{
						data: [statistics['Pending'], statistics['Approve'], statistics['Reject']],
						backgroundColor: [
							"#FFFF00",
							"#00FF00",
							"#0000FF",
						],
					}],
					labels: [
						"Pending",
						"Approved",
						"Rejected"
					]
				}
			});

		},
		error: function (xhr, statusText, err) {
			if (xhr.status == 401) {
				//response text from the server if there is any
				var responseText = JSON.parse(xhr.responseText);
				bootbox.alert("Error 401 - Unauthorized: " + responseText.message);

				$("#loginname").html("noname");
				sessionStorage.removeItem("token");
				sessionStorage.removeItem("login");
				window.location.href = "#login";
				return;
			}

			if (xhr.status == 404) {
				bootbox.alert("Error 404 - API resource not found at the server");
			}
		},
	});

</script>