<div class="my-3">
    <div class="row">
        <div class="col-12" style="position: relative;">
            <h3>Room's Details</h3>
        </div>
    </div>
    <input id='roomId' type="hidden" value="{{ id }}">
    <div>
        <form id="editRoomDetailsForm" name="editRoomDetailsForm">
            <table class="table table-bordered table-hover text-left">
                {{!-- 1st heading --}}
                <tr>
                    <th colspan="2" class="bg-info" style="position:relative">
                        Location
                        <div class="tdFloatingButtonGroup">
                            <button id='cancelEditRoomLocationBtn' class='btn btn-secondary mx-1' type='button'
                                style='display:none'>Cancel</button>
                            <button id='submitEditRoomLocationBtn' class='btn btn-light mx-1' type='submit'
                                style='display:none'>Save</button>
                            <button id="editRoomLocationBtn" class="btn btn-light" type='button'>Edit</button>
                        </div>
                    </th>
                </tr>
                {{!-- 1st data fields --}}
                <tr>
                    <td>Block</td>
                    <td id="blockField">{{ block }}</td>
                </tr>
                <tr>
                    <td>College</td>
                    <td id="collegeField">{{ college }}</td>
                </tr>
                {{!-- 2nd heading --}}
                <tr>
                    <th colspan="2" class="bg-info" style="position:relative">
                        Room No and Arrangment
                        <div class="tdFloatingButtonGroup">
                            <button id='cancelEditRoomInfoBtn' class='btn btn-secondary mx-1' type='button'
                                style='display:none'>Cancel</button>
                            <button id='submitEditRoomInfoBtn' class='btn btn-light mx-1' type='submit'
                                style='display:none'>Save</button>
                            <button id="editRoomInfoBtn" class="btn btn-light" type='button'>Edit</button>
                        </div>
                    </th>
                </tr>
                {{!-- 2nd data fields --}}
                <tr>
                    <td>Room No</td>
                    <td id="roomNoField">{{ roomNo }}</td>
                </tr>
                <tr>
                    <td>Current Arrangement</td>
                    <td id="bedArrangementField">{{ bedArrangement }}</td>
                </tr>
                <tr>
                    <td>Room Status</td>
                    <td id="roomStatusField">{{ displayRoomStatus roomStatus }}</td>
                </tr>
            </table>
            <div id="saveAllBtnGroup" class="col-12">
                <button type="submit" class="btn btn-primary mx-2">Save All</button>
                <button id='cancelSaveAllBtn' type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
        <p class="text-danger" data-toggle="tooltip" data-placement="top"
            title="Eg: Changing of available status to not available will remove all students from the room">
            Warning: The fields below are not to be changed
        </p>
        <table class="table table-bordered table-hover text-left">
            {{!-- 3rd heading --}}
            <tr>
                <th colspan="2" class="bg-warning" style="position:relative">
                    Room Status and Type
                </th>
            </tr>
            {{!-- 3rd data fields --}}
            <tr>
                <td>Type</td>
                <td id="roomTypeField">{{ roomType }}</td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#saveAllBtnGroup').hide();
    });

    var editOne = false;
    var editTwo = false;

    //Room location fields
    var editRoomLocationBtn = $('#editRoomLocationBtn');
    var cancelEditRoomLocationBtn = $('#cancelEditRoomLocationBtn');
    var submitEditRoomLocationBtn = $('#submitEditRoomLocationBtn');

    //Room info fields
    var editRoomInfoBtn = $('#editRoomInfoBtn');
    var cancelEditRoomInfoBtn = $('#cancelEditRoomInfoBtn');
    var submitEditRoomInfoBtn = $('#submitEditRoomInfoBtn');

    //Room status fields
    var editRoomTypeBtn = $('#editRoomTypeBtn');
    var cancelEditRoomTypeBtn = $('#cancelEditRoomTypeBtn');
    var submitEditRoomTypeBtn = $('#submitEditRoomTypeBtn');

    ///////////////////////////////////////////////////////////////////////////////
    ////                  Room location elements and events                    ////
    ///////////////////////////////////////////////////////////////////////////////
    var blockElement = $('#blockField');
    var block = blockElement.html();

    var collegeElement = $('#collegeField');
    var college = collegeElement.html();

    editRoomLocationBtn.on('click', function (e) {
        e.preventDefault();
        cancelEditRoomLocationBtn.css('display', 'inline-block');
        submitEditRoomLocationBtn.css('display', 'inline-block');
        editRoomLocationBtn.hide();

        var inputElement = `<input type='text' class='form-control' value='${block}' required>`;

        blockElement.empty();
        blockElement.append(inputElement);

        inputElement = `<input type='text' class='form-control' value='${college}' required>`;

        collegeElement.empty();
        collegeElement.append(inputElement);

        editOne = true;
        if ((editOne == editTwo) === true) {
            $('#saveAllBtnGroup').show();
        }
    });

    cancelEditRoomLocationBtn.on('click', function () {
        cancelEditRoomLocationBtn.css('display', 'none');
        submitEditRoomLocationBtn.css('display', 'none');
        editRoomLocationBtn.show();

        blockElement.empty();
        blockElement.append(block);
        collegeElement.empty();
        collegeElement.append(college);

        editOne = false;
        if (editOne != editTwo) {
            $('#saveAllBtnGroup').hide();
        }
    });
    ///////////////////////////////////////////////////////////////////////////////
    ////               End of room location elements and events                ////
    ///////////////////////////////////////////////////////////////////////////////


    ///////////////////////////////////////////////////////////////////////////////
    ////                   Room details' elements and events                   ////
    ///////////////////////////////////////////////////////////////////////////////
    var roomNoElement = $('#roomNoField');
    var roomNo = roomNoElement.html();

    var bedArrangementElement = $('#bedArrangementField');
    var bedArrangement = bedArrangementElement.html();

    var roomStatusElement = $('#roomStatusField');
    var roomStatus = roomStatusElement.html();


    editRoomInfoBtn.on('click', function (e) {
        e.preventDefault();
        // Display cancel & save buttons
        cancelEditRoomInfoBtn.css('display', 'inline-block');
        submitEditRoomInfoBtn.css('display', 'inline-block');
        // Hide edit buttons
        editRoomInfoBtn.hide();

        // Room no field
        var inputElement = `<input type='text' class='form-control' value='${roomNo}' required>`;

        roomNoElement.empty();
        roomNoElement.append(inputElement);

        // Status selection field
        var statusDict = {
            'Available': '',
            'Not Available': '',
            'In Maintenance': '',
        }

        statusDict[roomStatus] = 'selected';

        var selectionElement = `<select class='form-control' name='roomStatus' required>
                <option ${statusDict['Available']} value='0'>Available</option>
                <option ${statusDict['Not Available']} value='1'>Not Available</option>
                <option ${statusDict['In Maintenance']} value='2'>In Maintenance</option>
               </select>`;

        roomStatusElement.empty();
        roomStatusElement.append(selectionElement);

        var roomType = $('#roomTypeField').html();
        if (roomType === 'Double') {
            var currentArrangement = bedArrangement;
            var bedArrangementDict = {
                'A': '',
                'B': '',
            }
            bedArrangementDict[currentArrangement] = 'selected';

            var selectionElement = `<select class='form-control' name='bedArrangement' required>
                <option ${bedArrangementDict['A']} value='A'>A</option>
                <option ${bedArrangementDict['B']} value='B'>B</option>
               </select>`;

            bedArrangementElement.empty();
            bedArrangementElement.append(selectionElement);
        }

        // Disply save all btn
        editTwo = true;
        if ((editOne == editTwo) === true) {
            $('#saveAllBtnGroup').show();
        }
    });

    cancelEditRoomInfoBtn.on('click', function () {
        cancelEditRoomInfoBtn.css('display', 'none');
        submitEditRoomInfoBtn.css('display', 'none');
        editRoomInfoBtn.show();

        roomNoElement.empty();
        roomNoElement.append(roomNo);
        bedArrangementElement.empty();
        bedArrangementElement.append(bedArrangement);
        roomStatusElement.empty();
        roomStatusElement.append(roomStatus);

        editTwo = false;
        if (editOne != editTwo) {
            $('#saveAllBtnGroup').hide();
        }
    });
    ///////////////////////////////////////////////////////////////////////////////
    ////             End of room details' elements and events                  ////
    ///////////////////////////////////////////////////////////////////////////////

    $('#cancelSaveAllBtn').on('click', function () {
        cancelEditRoomLocationBtn.trigger('click');
        cancelEditRoomInfoBtn.trigger('click');
    })
</script>