<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h1>Your Profile</h1>

            <table class="table table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <th>Login</th>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No</th>
                        <td>{{mobileno}}</td>
                    </tr>
                </tbody>
            </table>

            <a href="#profile" class="btn btn-info">
                View/Edit Profile
            </a>
            <a href="#profile/passwordreset" class="btn btn-info">
                Password Reset
            </a>
        </div>
    </div>
</div>