<div class="d-flex flex-column justify-content-center align-items-center pt-2 mt-2">
	<h1>Login Page</h1>

	<form class="form-horizontal pt-2" id="loginform" style="width: 50% !important;">
		<fieldset>
			<div class="form-group">
				<label for="loginformusername" class="control-label"><b>Username</b></label>
				<div class="">
					<input type="text" class="form-control" id="loginformusername" required>
				</div>
			</div>
			<div class="form-group clearfix">
				<label for="loginformpassword" class=" control-label"><b>Password</b></label>
				<div class="">
					<input type="password" class="form-control" id="loginformpassword" required>
				</div>
				<small class="float-right ">Don't have account yet? <a href="#register">Sign up</a> now!</small>
			</div>

			<div class="form-group ">
				<button type="reset" class="btn btn-secondary float-left">Reset</button>
				<button type="submit" class="btn btn-primary float-right">Submit</button>
			</div>
		</fieldset>
	</form>
</div>