<li><a href='#home'>Home</a></li>
<li><a href='#viewapplication'>View Application</a></li>
<li><a href='#bookingroom'>Add Application</a></li>
<li class='drop-down'><span style='color: inherit'>{{username}}</span>
    <ul>
        <li><a href='#profile'>Profile</a></li>
        <li><a href='#logout'>Logout</a></li>
    </ul>
</li>