<h1 class="text-center">Change Photo</h1>
<hr>

<form class="form-horizontal" id="formuploadphoto">
	<fieldset>
		<div class="form-group">

			<div class="row">
				<div class="col-sm-5 d-flex flex-column justify-content-center align-items-center">
					<div id="currentphoto"><img src="img/{{photo}}" width="200"></div>
					<label for="date" class="control-label"><b>Current Photo</b></label>
				</div>
				<div class="col-sm-2 d-flex flex-column justify-content-center align-items-center">
					<i class="icofont-stylish-right icofont-5x" style="color:green" id="icon"></i>
				</div>
				<div class="col-sm-5  d-flex flex-column justify-content-center align-items-center invisible"
					id="changephoto">
					<div id="imageplaceholder"></div>
					<label for="date" class=" control-label"><b>New Photo</b></label>
				</div>
			</div>
		</div>

		<div class="custom-file d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
			<div class="col-lg-7">
				<input type="file" class="custom-file-input" id="profilepic" required>
				<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
			</div>
			<div class="invalid-feedback d-flex justify-content-center" id="filemessage"></div>
		</div>


		<div class="form-group pt-2 d-flex flex-row justify-content-center">
			<input type="hidden" id="uploadcontactid" name="uploadcontactid" value="{{id}}">
			<a href="#profile" class="btn btn-outline-warning">
				Cancel
			</a>
			<button type="reset" id="resetphoto" class="btn btn-secondary ml-2">Reset</button>
			<button type="submit" class="btn btn-primary ml-2">Submit</button>
		</div>


	</fieldset>
</form>