<h1 class="text-center">Edit Profile</h1>
<hr>

<form class="form-horizontal" id="formupdateprofile">
    <fieldset>
        <div class="form-group">
            <label for="updateprofilename" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-12">
                <input type="text" class="form-control" id="updateprofilename" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="updateprofileemail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-12">
                <input type="email" class="form-control" id="updateprofileemail" value="{{email}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="updateprofilemobileno" class="col-lg-2 control-label">Mobile No.</label>
            <div class="col-lg-12">
                <input type="text" class="form-control" id="updateprofilemobileno" required value="{{mobileno}}">
            </div>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
            <a href="#profile" class="btn btn-outline-warning ">
                Cancel
            </a>
            <a href="#profile/passwordreset" class="btn btn-danger ml-2" id="editprofile">
                <i class="icofont-ui-password"></i> Password Reset
            </a>
            <div class="ml-2">
                <button type="submit" class="btn btn-primary"><i class="icofont-save"></i> Save</button>
            </div>
        </div>

    </fieldset>
</form>