<div class="text-center">
	<h1>Reset Password</h1>
	<h5>Enter your new password for your account.</h5>
</div>
<hr>

<form class="form-horizontal" id="formresetpassword">
	<fieldset>
		<div class="form-group">
			<label for="oldpassword" class=" control-label"><b>Current Password</b></label>
			<div class="input-group mb-2 mr-sm-2">
				<input type="password" class="form-control" id="oldpassword" placeholder="Type your current password"
					required>

				<div class="input-group-prepend">
					<div class="input-group-text"><i class="icofont-ui-password"></i></div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="newpassword" class="control-label"><b>New Password</b></label>
			<div class="input-group mb-2 mr-sm-2">
				<input type="password" class="form-control" id="newpassword" placeholder="Type your new password"
					required>

				<div class="input-group-prepend">
					<div class="input-group-text"><i class="icofont-key"></i></i></div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="repeatpassword" class=" control-label"><b>Confirm New Password</b></label>
			<div class="input-group mb-2 mr-sm-2">
				<input type="password" class="form-control" id="repeatpassword" placeholder="Confirm your new password"
					required>

				<div class="input-group-prepend">
					<div class="input-group-text"><i class="icofont-key"></i></i></div>
				</div>
			</div>
		</div>

		<div class="form-group d-flex flex-row justify-content-center">
			<a href="#profile/editprofile" class="btn btn-outline-warning ">
				Cancel
			</a>
			<div class="ml-2">
				<button type="submit" class="btn btn-success"><i class="icofont-save"></i> Change my password</button>
			</div>
		</div>
	</fieldset>
</form>