<div class="row">
	<div class="col-sm-12">


		<div class="text-center">
			<a href="#contacts/edit/uploadphoto/{{id}}">
				<img src="img/{{photo}}" width="200">
			</a>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-9">
				<h1>My Profile</h1>
			</div>
			<div class="col-sm-3 align-bottom"
				style="display:flex;flex-direction:column;align-items:flex-end;justify-content:center;">
				<small>Created on {{addedDate}}</small>
			</div>
		</div>

		<table class="table table-striped table-hover table-bordered">
			<tbody>
				<tr>
					<th>Username</th>
					<td>{{username}}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{name}}</td>
				</tr>
				<tr>
					<th>Matric No.</th>
					<td>{{uniID}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td><span class='label label-info'>{{email}}</span></td>
				</tr>
				<tr>
					<th>Mobile No</th>
					<td><span class='label label-info'>{{mobileno}}</span></td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex flex-row justify-content-center">
			<p>
				<a href="#home" class="btn btn-outline-warning" id="returnHome">
					Cancel
				</a>

				<a href="#profile/edit/changephoto" class="btn btn-info">
					<i class="icofont-image"></i> Change Photo
				</a>

				<a href="#profile/editprofile" class="btn btn-primary" id="editprofile">
					<i class="icofont-edit"></i> Edit Profile
				</a>
			</p>
		</div>
	</div>