<div class="d-flex flex-column justify-content-center align-items-center pt-2 mt-2">
	<h1>Register Page</h1>

	<form class="form-horizontal" id="registerform" style="width: 50% !important;">
		<fieldset>
			<div class="form-group">
				<label for="registerformusername" class=" control-label">Username</label>
				<div>
					<input type="text" class="form-control" id="registerformusername" required>
				</div>
			</div>
			<div class="form-group">
				<label for="registerformpassword" class=" control-label">Password</label>
				<div>
					<input type="password" class="form-control" id="registerformpassword" required>
				</div>
			</div>
			<div class="form-group">
				<label for="registerformname" class=" control-label">Name</label>
				<div>
					<input type="text" class="form-control" id="registerformname" required>
				</div>
			</div>
			<div class="form-group">
				<label for="registerformmatric" class="control-label">Matric No.</label>
				<div>
					<input type="text" class="form-control" id="registerformmatric" required>
				</div>
			</div>
			<div class="form-group">
				<label for="registerformemail" class=" control-label">Email</label>
				<div>
					<input type="email" class="form-control" id="registerformemail" required>
				</div>
			</div>
			<div class="form-group">
				<label for="registerformmobile" class=" control-label">Mobile No.</label>
				<div>
					<input type="text" class="form-control" id="registerformmobile" required>
				</div>
			</div>
			<div class="form-group">
				<div style="text-align: right;">
					<a href="#home" class="btn btn-warning btn-round">
						Cancel
					</a>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>