<li><a href='#home'>Home</a></li>
<li><a href='#admin-view/rooms'>Manage Room</a></li>
<li><a href='#admin-bookings'>Manage Booking</a></li>
<li><a href='#'>Manage Student</a></li>
<li class='drop-down'><span style='color: inherit'>{{username}}</span>
    <ul>
        <li><a href='#profile'>Profile</a></li>
        <li><a href='#logout'>Logout</a></li>
    </ul>
</li>