<div>
	<h1>Booking Progress</h1>

	{{#ifeq data 'pending'}}
	<p class="text-center">You have a pending application
		<a href="#viewapplication">View now</a></p>
	{{/ifeq}}
	{{#ifeq data 'none'}}
	<p class="text-center">You have no any pending/accepted application.
		<a href="#bookingroom"> Apply now!</a></p>
	{{/ifeq}}
	{{#ifeq data 'approved'}}
	<p class="text-center">Congratulations! You have approved application
		<a href="#viewapplication">View now</a></p>
	{{/ifeq}}
</div>