<div>
	<h2>Application</h2>
	<div class="tab-content my-3" id="bookingTabContent">
		<div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
			{{#checkApplicationLength applicationlist}}
			<p class="text-center my-3">No records</p>
			{{else}}
            
		<div class="table-responsive">
			<table class="table table-bordered table-hover text-center" id="tblapps">
				<thead>
					<tr>
						<th>No</th>
						<th>Room No</th>
						<th>Room Type</th>
						<th>Bed Arrangement</th>
						<th>Block</th>
						<th>College</th>
						<th>Application Status</th>
						<th>Remark</th>
                        <th>Apply Date</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{#each applicationlist}}
					<tr>
						<td>
							{{inc @index}}
						</td>
						<td>
							{{room}}
						</td>
						<td>
							{{roomdb.roomType}}
						</td>
						<td>
							{{roomdb.bedArrangement}}
						</td>
						<td>
							{{roomdb.block}}
						</td>
						<td>
							{{roomdb.college}}
						</td>
						<td>
							{{displayStatus applicationStatus}}
						</td>
						</td>
						<td>
							{{displayRemark remark}}
						</td>
                        <td>
                            {{formatDate applyDate}}
                        </td>
						<td>
							<a href='#application/view/{{id}}' style="text-decoration: none">
                    <i class="icofont-eye-alt" aria-hidden="true"></i>
          	      </a>
                &nbsp;
                </td>
					</tr>
					{{/each}}
				<tbody>
			</table>
		</div>
        
{{/checkApplicationLength}}
    </div>
</div>
            

