<div>
	<h2>Room List</h2>
	<div class="tab-content my-3" id="bookingTabContent">
		<div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">

			<div class="table-responsive">
				<table class="table table-bordered table-hover text-center" id="tblrooms">
					<thead>
						<tr>
							<th>ID</th>
							<th>Room No</th>
							<th>Room Type</th>
							<th>Room Status</th>
							<th>Bed Arrangement</th>
							<th>Block</th>
							<th>College</th>
							<th>Last Modified Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{{#each roomlist}}
						<tr>
							<td>
								{{id}}
							</td>
							<td>
								{{roomNo}}
							</td>
							<td>
								{{roomType}}
							</td>
							<td>
								{{displayRoomStatus roomStatus}}
							</td>
							<td>
								{{bedArrangement}}
							</td>
							<td>
								{{block}}
							</td>
							<td>
								{{college}}
							</td>
							<td>
								{{formatDate lastModifiedDate}}
							</td>
							<td>
								<button class="btn btn-primary booking">Book</button>
							</td>
						</tr>
						{{/each}}
					<tbody>
				</table>
			</div>

		</div>
	</div>

	<script>
		$(function () {

			//get token from sessionStorage
			var token = sessionStorage.getItem("token");
			//decode jwt token using jwt-decode
			var decoded = jwt_decode(token);
			var userID = decoded.userid;

			$("#tblrooms").on("click", ".booking", function () {
				

				var parentTR = $(this).parent().parent();
				var firstTD = $(parentTR).children().eq(0);
				var id = $(firstTD).data("id");
				var roomNo = $(firstTD).data("roomNo");
				var roomType = $(firstTD).data("roomType");
				var roomStatus = $(firstTD).data("roomStatus");
				var bedArrangement = $(firstTD).data("bedArrangement");
				var block = $(firstTD).data("block");
				var college = $(firstTD).data("college");
				var lastModifiedDate = $(firstTD).data("lastModifiedDate");
				
				
				$.ajax({
					type: 'get',
					url: `api/users/${userID}/bookings/duplicated`,
					dataType: "json",
					success: function (data) {
						if (data.applicationStatus == true) {
							console.log(data.applicationStatus);
							var isApplied = true;
						}
						else {
							var isApplied = false;
						}
						if (roomStatus != 0) {
							Swal.fire("The selected room is temperoly unavailable. Please try the another room!");
						}
						else if (isApplied == true) {
							Swal.fire("Your application is pending or already approved. You are not allowed to apply another room at this moment!");
						}
						else if (isApplied == false) {
							Swal.fire({
								title: 'Booking Confirmation',
								html: "<table align='center' style='text-align: left;'><tr><td>Room No: </td><td>" + roomNo + " </td></tr><tr><td>Room Type: </td><td>" + roomType + " </td></tr><tr><td>Bed Arrangement: </td><td>" + bedArrangement + " </td></tr><tr><td>Block: </td><td>" + block + " </td></tr><tr><td>College: </td><td>" + college + "</td></td></table>",
								icon: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#3085d6',
								cancelButtonColor: '#d33',
								confirmButtonText: 'Confirm'
							}).then((result) => {
								if (result.value) {
									$.ajax({
										type: "post",
										url: 'api/bookings/' + id,
										dataType: "json",
										success: function (data) {
											if (data.bookingStatus) {
												Swal.fire("Booking successful. Please wait for the results!");
											}
											else {

												bootbox.alert("contact status update failed - please try again: " + data.errorMessage)
											}
										},
										error: function (data) {
											console.log("error");
										}
									});
								} else {
									Swal.fire("Booking cancelled!");
								}
							});
						}
					},
					error: function (data) {
						console.log("error");
					}
				});
			});
		});
	</script>