<div>
	<div>
		<table class="table table-bordered table-hover text-left">
			<tr>
				<th colspan="2" class="bg-info">Application Detail</th>
			</tr>
            <tr>
                <td>Room Number : </td>
                <td>{{ application.room }}</td>
            </tr>
            <tr>
                <td>Room Type : </td>
                <td>{{ displayRoomType application.roomdb.roomType }}</td>
            </tr>
            <tr>
                <td>Bed Arrangement : </td>
                <td>{{ application.roomdb.bedArrangement }}</td>
            </tr>
            <tr>
                <td>Block :</td>
                <td>{{ application.roomdb.block  }}</td>
            </tr>
            <tr>
                <td>College : </td>
                <td>{{ application.roomdb.college }}</td>
            </tr>
            <tr>
                <td>Application Status : </td>
                <td>{{ displayStatus application.applicationStatus }}</td>
            </tr>
            <tr>
                <td>Remark : </td>
                <td>{{ displayRemark application.remark }}</td>
            </tr>
            <tr>
                <td>Apply Date :</td>
                <td>{{ formatDate application.applyDate }}</td>
            </tr>
        </table>

        </div>
</div>